.exjobb {
	&-page {
		text-align: left;
		padding: 64px var(--content-padding) 32px;

		h1 {
			margin-top: 0;

			font-style: normal;
			font-weight: 700;
			font-size: 32px;
			line-height: 120%;

			letter-spacing: -0.41px;
			text-transform: capitalize;

			color: var(--color-text-dark);
		}
	}

	&-list {
		margin: 32px var(--invert-content-padding);
		@apply grid gap-y-6;
	}

	&-box {
		display: flex;
		flex-direction: column;
		padding: 16px var(--content-padding);

		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
		row-gap: 16px;
		color: black;

		text-decoration: none;

		&:nth-child(odd) {
			@apply bg-zinc-200;
		}

		&:hover {
			@apply bg-zinc-300;
		}

		& [role="name"] {
			@apply m-0 text-lg font-bold tracking-tight;
		}

		& [role="description"] {
			@apply m-0 text-zinc-600;
		}

		& [role="skills"] {
			@apply m-0 font-bold tracking-tight;
		}

		&-details {
			@apply flex flex-wrap gap-2 justify-between text-zinc-500;

			&-list {
				@apply flex flex-wrap justify-end gap-x-3 gap-y-2;
			}

			&-info {
				@apply text-lg;
				& svg {
					@apply mr-3 text-zinc-400;
				}
			}

			&-tag {
				border-width: 2px;
				@apply border-solid border-zinc-400 text-zinc-500 text-center;
				@apply col-span-1 px-3 py-0.5 rounded-full;
			}
		}
	}

	// &-single {}
}
