.footer {
	background: var(--color-header-background);
	color: var(--gray-60);

	&-content,
	&-legal {
		width: 100%;
		max-width: var(--max-width);
	}

	&-content {
		margin: 0 auto;
		padding: 32px var(--content-padding);

		// @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3;
		// @apply gap-y-8 gap-x-4 sm:gap-x-8;
	}

	&-legal {
		margin: 0 auto;
		padding: 32px var(--content-padding);

		@apply flex flex-wrap justify-between items-center gap-8;

		// border-top: 1px solid var(--gray-40);

		&-privacy, &-copyright {
			@apply text-sm tracking-tight;

			span {
				@apply mx-1;
			}
		}
	}

	&-text-title {
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;

		letter-spacing: -0.41px;
		text-transform: capitalize;

		color: var(--white);

		margin-bottom: 32px;
	}
}
