@use 'header';
@use 'footer';

@use 'home';
@use 'projects';
@use 'funding';
@use 'personnel';
@use 'publications';
@use 'courses';
@use 'exjobbs';


:root {
	--max-width: 1024px;
	--content-padding: 64px;
	--invert-content-padding: -64px;

	--color-background: #F2F2F2;
	--color-header-background: #272727;
	--color-header-border: #0078B3;
	--color-personnel-border: #9CB0C977;
	--color-text-dark: #1A1A1A;
	--color-link: #16638a;
	--color-link-visited: #0e3250;

	--white: #FFFFFF;
	--gray-80: #CCCCCC;
	--gray-60: #999999;
	--gray-40: #666666;
	--gray-20: #333333;
	--black: #000000;
}

@media (max-width: 960px) {
	:root {
		--content-padding: 32px;
		--invert-content-padding: -32px;
	}
}

@media (max-width: 600px) {
	:root {
		--content-padding: 16px;
		--invert-content-padding: -16px;
	}
}


* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-background);
}

hr {
	@apply mt-8 border-0 border-b border-solid border-zinc-300;
}

p, li {
	@apply leading-6;
}

/* Main content */

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.page-content {
	width: 100%;
	max-width: var(--max-width);
	margin: 44px auto 0;
	flex: 1 1 0%;
}

.page-padding {
	padding-left: var(--content-padding);
	padding-right: var(--content-padding);
}


// Imported .mdx markdown content

.mdx-content {
	h1, h2, h3, h4, h5, h6 {
		margin-block-start: 1.2em;
		margin-block-end: 0.6em;
	}

	img {
		max-width: 100%;
	}

	figure {
		@apply text-sm text-zinc-500 italic;

		p {
			@apply mt-0;
		}
	}


	table {
		width: 100%;
		margin-bottom: 1rem;
		background-color: transparent;
		border-spacing: 0;
	}

	thead {
		display: table-header-group;
		vertical-align: middle;
		border-color: inherit;
	}

	tbody {
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;
	}

	tr {
		display: table-row;
		vertical-align: inherit;
		border-color: inherit;
	}

	th {
		text-align: inherit;
	}

	thead th {
		vertical-align: bottom;
		border-bottom: 2px solid;
		@apply border-zinc-400;
	}

	td,
	th {
		padding: 0.7rem;
		vertical-align: top;
		border-bottom: 1px solid;
		@apply border-zinc-300;
	}
}
