.list {
	@apply flex flex-wrap gap-4;
}

.item {
	width: 64px;
	height: 64px;
	overflow: hidden;

	font-size: 1.5rem;
	line-height: 64px;
	text-align: center;
	text-transform: uppercase;

	user-select: none;
	position: relative;

	@apply text-white;
	@apply rounded-full shadow-md;

	div {
		@apply bg-zinc-400;
	}

	img {
		width: 100%;
		height: unset;
		aspect-ratio: 1 / 1;
	}
}

.external {
	position: absolute;
	right: 0;
	bottom: 0;
	color: white;
	filter: drop-shadow(0px 0px 4px #00000066);
}
