.toc {
  @apply inline-block py-10;
  @apply w-full sm:w-64 px-4;

  .tocHeader {
    @apply flex items-center justify-between px-3 py-2 mb-2;
  }

  .tocHeaderInteractive {
    @apply cursor-pointer;
  }

  .chevron {
    @apply text-zinc-600 transition-transform duration-200;

    &.rotated {
      @apply rotate-180;
    }
  }

  ul {
    @apply list-none p-0 m-0;
  }
}

.node {
  .linkWrapper {
    @apply flex items-center transition-all duration-200;
    @apply pr-2;

    @apply text-zinc-500 hover:text-black hover:translate-x-0.5;

    &.active {
      @apply text-black;
    }

    &.currentPage {
      @apply text-black bg-zinc-300 rounded;
    }
  }

  .link {
    @apply block py-1.5 text-sm flex-grow leading-4;
    color: inherit;
    text-decoration: none;
  }

  .iconContainer {
    @apply flex items-center justify-center w-6 h-6 ml-1;
  }

  .toggleBtn {
    @apply cursor-pointer text-zinc-400 hover:text-zinc-600 transition-transform duration-200;
    @apply bg-transparent border-none;

    &.rotated {
      @apply rotate-90;
    }
  }

  .leafIcon {
    @apply text-zinc-300;
    font-size: 0.6rem;
  }
}

.subTree {
  @apply overflow-hidden;
}
